{% extends 'aplicacion/index.html' %}


{% block titulo %}
<h1 class="mb-5">Usuarios</h1>

{% endblock titulo %}




{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.apellido }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.edad }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'usuarios_form' %}" class="btn btn-primary">Agregar Usuario</a>
{% endblock contenido %}